* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 30px auto;
}
.header_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}

.header_container a,
.header_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_item a {
  padding: 30px 20px;
  cursor: pointer;
}

.header_item ul,
.header_item button {
  display: flex;
  justify-content: space-around;
  justify-content: center;
}

ul {
  list-style: none;
  font-weight: 500;
}

.header_container a {
  text-decoration: none;
  color: #070120;
}

a span {
  display: inline-block;
  transition: all 1s;
}
a:hover {
  color: #f55f8d;
}
a:hover span {
  animation: upToDown 0.3s;
}

@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
button.btn-grad {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  outline: 0;
  transition: all 0.5s;
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.5s;
}
.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
/* <!-- Carousel --> */
.carousel {
  background-image: url(./Samar-20220622T021000Z-001/Samar/pic2.png);
  background-position: top;
  background-size: 100%;
  position: relative;
  padding-top: 180px;
}
.title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
p.animate__animated.animate__fadeInUp {
  animation-duration: 1s;
}
h2.animate__animated.animate__fadeInUp {
  animation-delay: 1s;
  animation-duration: 2s;
}
.animate__animated.animate__fadeInUp.carousel_article {
  animation-delay: 3s;
  animation-duration: 2s;
}
.carousel_banner.animate__animated.animate__fadeInUp {
  animation-delay: 3s;
  animation-duration: 2s;
}
.animate__animated.animate__fadeInUp.btn-grad {
  animation-delay: 5s;
  animation-duration: 1s;
}
.title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.article p {
  font-size: 18px;
  margin-bottom: 15px;
  color: #636363;
}
.carousel_article i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  border-radius: 35px;
  font-weight: 900;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  margin-right: 10px;
}
.article li {
  padding: 10px 5px 10px 0;
  font-size: 20px;
  font-weight: 400;
  color: #636363;
}
.carousel_content {
  display: flex;
  align-items: center;
}
.content_left {
  width: 60%;
}
.content_right {
  width: 40%;
}
.content_right img {
  max-width: 100%;
}
.carousel_banner {
  width: 570px;
  margin-left: 50px;
}
.article button {
  margin-top: 30px;
}
/* services */
.services {
  padding-top: 80px;
  background-image: url(./Samar-20220622T021000Z-001/Samar/bg2.png);
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
}
.services_title {
  text-align: center;
}
.services_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.services_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid transparent;
  align-items: center;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 30px 45px;
  transform: translateY(0);
  transition: all 0.5s;
}
.services_item:hover {
  transform: translateY(-20px);
}
.services_item h2 {
  margin: 15px 0;
}
.services_item p {
  color: #636363;
  text-align: center;
}

.services_item img {
  width: 215px;
}
/* <!-- About_us --> */
.about_us {
  background-image: url(./Samar-20220622T021000Z-001/Samar/bg15.png);
  background-position: center;
  background-repeat: no-repeat;
}
.about_us_container {
  margin-top: 0;
  margin-bottom: 0;
}
.about_us {
  padding-top: 85px;
  padding-bottom: 85px;
}
.about_us_content {
  position: relative;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}
.about_us_left {
  width: 60%;
  position: absolute;
  left: -17%;
}
.about_us_left img {
  max-width: 100%;
  margin-left: 0;
  border-radius: 0 100px 100px 0;
}
.about_us_right {
  width: 50%;
}

.about_us_article span {
  font-size: 18px;
}
.about_us_article i {
  font-size: 24px;
  color: #f55f8d;
  margin-right: 10px;
  vertical-align: middle;
}
/* Number */
.number {
  background-image: url(./Samar-20220622T021000Z-001/Samar/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0 50px;
  text-align: center;
}
.number_content {
  display: flex;
  justify-content: space-around;
}
.number_item {
  width: 25%;
}
.number_item i {
  font-size: 45px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
}
.number_item p:first-of-type {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
}
.number_item p:last-of-type {
  color: #262626;
  font-size: 18px;
}
/* features */
.features {
  background-image: url(./Samar-20220622T021000Z-001/Samar/bg2.png);
  background-position: center;
  background-repeat: no-repeat;
}
.features_contanier {
  display: flex;
  justify-content: space-around;
}
.features_left {
  width: 50%;
}
.features_right {
  width: 50%;
}
.features_banner {
  margin-right: -80px;
  animation: move2 5s infinite;
}
.features_right img {
  max-width: 100%;
}
@keyframes move2 {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }

  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }

  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
/* feature */
.features_item div {
  padding-left: 25px;
  z-index: 1;
  transition: all 1s;
}
.features_item {
  padding: 0 50px 30px 0;
}
.features_content {
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.features_item i {
  font-size: 80px;
  line-height: 1;
  color: #f55f8d;
  z-index: 1;
  transition: all 1s;
}
.features_content:hover div {
  color: #fff;
}
.features_content:hover i {
  color: #fff;
}
.features_content:hover::after {
  opacity: 1;
}
.features_content::after {
  content: "";
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s;
}
.features_item2 {
  padding: 0 0 30px 50px;
}
.features_title .animate__fadeInLeft {
  visibility: visible;
  animation-duration: 2s;
  animation-delay: 0.2s;
}
/* <!-- portfolio --> */
.portfolio_title {
  text-align: center;
}
.portfolio_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}
.portfolio_item1 {
  grid-column: 1 / span 2;
}
.portfolio_item {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.portfolio_item:hover::before {
  left: 125%;
}
.portfolio_item:hover .portfolio_overlay {
  opacity: 1;
}
.portfolio_item:hover .portfolio_icon {
  transform: translate(0);
}
.portfolio_item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}
.portfolio_item img {
  width: 100%;
  height: 100%;
}
.portfolio_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.75s;
}
.portfolio_icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  color: #fff;
  width: 50px;
  height: 50px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  transform: translate(20px, -20px);
  transition: all 0.75s;
}
.portfolio_icon a {
  cursor: pointer;
}
a {
  text-decoration: none;
}

.la-plus:before {
  content: "\f067";
}
.portfolio_text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  transform: translateY(150px);
  transition: all 0.75s;
}
.portfolio_text h3 {
  font-size: 22px;
  font-weight: 800;
  color: #fff;
}
.portfolio_text p {
  color: #fff;
  opacity: 0.7;
}
.portfolio_item:hover .portfolio_text {
  transform: translateY(0);
}
.portfolio_icon a {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.wow {
  visibility: hidden;
  opacity: 0;
  animation-fill-mode: forwards;
}
.portfolio_item5 {
  grid-column: 1 / span 2;
}
.portfolio_item6 {
  grid-column: 3/4;
  grid-row: 2/4;
}
/* plan */
.plan {
  background-image: url(./Samar-20220622T021000Z-001/Samar/bg16.png);
  background-position: top;
  background-size: 100%;
  padding-top: 60px;
  text-align: center;
}

.plan_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
  gap: 30px;
}
.plan_item {
  padding: 35px 60px;
  border: 3px solid transparent;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
  border-image: 100 round;
  transition: all 0.5s;
}
.plan_item:hover {
  border-image: url(./Samar-20220622T021000Z-001/Samar/br.png) 1 round;
}
.plan_item h3 {
  font-weight: 700;
  color: #262626;
  font-size: 40px;
}
.plan_item img {
  width: 125px;
}
.plan_item li,
.plan_item p {
  font-size: 18px;
  color: #262626;
  font-weight: 600;
}
.plan_item span {
  color: #f8ae56;
  font-size: 50px;
  font-weight: 800;
}
.plan_item ul {
  text-align: left;
  padding: 15px 0;
  border-top: 1px solid #e1e1f0;
}
.plan_item li {
  padding: 5px 0;
  font-weight: 400;
}
.plan_item i {
  font-size: 12px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: #feeff3;
  color: #f55f8d;
  border-radius: 100%;
  margin-right: 15px;
}

/* Testimonial */
.testimonial {
  text-align: center;
  background-image: url(./Samar-20220622T021000Z-001/Samar/bg17.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 50px;
}
.testimonial_content {
  min-height: 300px;
}
.testimonial_thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
  overflow: hidden;
}
.testimonial_thumbs::before {
  left: 0;
  background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0) 100%);
}
.testimonial_comment {
  min-height: 300px;
  width: 100%;
  overflow: hidden;
}
/* blog */
.blog {
  background-image: url(./Samar-20220622T021000Z-001/Samar/bg16.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-bottom: 50px;
}
/* footer */
.footer {
  background-image: url(./Samar-20220622T021000Z-001/Samar/bg4.png);
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: #fff;
  font-size: 15px;
  position: relative;
}
.footer::before {
  content: "";
  background-image: url(./Samar-20220622T021000Z-001/Samar/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer_container {
  max-width: 1199px;
  margin: auto;
}
.footer_top {
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
  background-image: url(./Samar-20220622T021000Z-001/Samar/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  display: flex;
}
.footer_form,
.footer_text {
  width: 50%;
}
.footer_form form {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}
.footer_form input {
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background: #fff;
  flex: 1 1 auto;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #fff;
  outline: 0;
  transition: all 0.5s;
}

.footer_text h2 {
  font-size: 28px;
  color: #262626;
}
.footer_form button {
  padding: 20px 35px;
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-color: transparent;
  transition: all 0.5s;
  border-radius: 0 0.5rem 0.5rem 0;
  color: #fff;
  cursor: pointer;
}
.footer_bottom {
  display: flex;
  padding: 70px 0;
  position: relative;
}
.footer_item {
  width: 25%;
}
.footer_item a {
  color: #636363;
  font-size: 16px;
  transition: all 0.5s;
}
.footer_item li {
  padding: 10px 0;
}
.footer_contact li {
  padding: 8px 0;
  display: flex;
  align-items: center;
  list-style: none;
}
.footer_copyright {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
}
.footer_content {
  display: flex;
  justify-content: space-between;
}
.footer_left span {
  color: #f55f8d;
}
.footer_copyright a {
  height: 32px;
  width: 32px px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
}
a {
  text-decoration: none;
}
.backToTop {
  width: 50px;
  height: 50px;
  background: #f55f8d;
  border-radius: 8px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: #fff;
  transition: all 0.2s;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  visibility: hidden;
  opacity: 0;
}
.footer_item h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
}

.footer_item h3::before {
  width: 15px;
}

.footer_item h3::after,
.footer_item h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}
.footer_item h3::after {
  width: 45px;
  left: 20px;
}

.footer_item h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}
